@{
    Layout ="~/Views/Shared/_Layout.cshtml"; 
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Register", "Customer", FormMethod.Post))
        {

            <table>
                <tr>
                    <td>@Html.Label("Customer id")</td>


                    <td>@Html.TextBox("txtCustomerId")</td>


                </tr>

                <tr>
                    <td>@Html.Label("Customer Name")</td>


                    <td>@Html.TextBox("txtCustomerName")</td>


                </tr>

                <tr>
                    <td>@Html.Label("EmailId")</td>


                    <td>@Html.TextBox("txtEmailId")</td>


                </tr>


                <tr>
                    <td>@Html.Label("Contact Number")</td>


                    <td>@Html.TextBox("txtContactNumber")</td>


                </tr>

                <tr>
                    <td>
                        <input type="submit" value="Register" />


                    </td>

                    <td style="color:red">
                        @ViewBag.registerStatus
                        @ViewBag.ExceptionMessage

                    </td>

                </tr>

            </table>
        }
    </div>
</body>
</html>
