@model Mvc_Day1_Project.Models.customermodel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegisterPage</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("RegisterPage", "Customer", FormMethod.Post))
        {
            <table>
                <tr>
                    <td>@Html.Label("Customer Id")</td>
                    <td>@Html.TextBoxFor(c => c.CustomerId)</td>
                </tr>

                <tr>
                    <td>@Html.Label("Customer Name")</td>
                    <td>@Html.TextBoxFor(c => c.CustomerName)</td>
                </tr>

                <tr>
                    <td>@Html.Label("Email Id")</td>
                    <td>@Html.TextBoxFor(c => c.EmailId)</td>
                </tr>

                <tr>
                    <td>@Html.Label("Contact Number")</td>
                    <td>@Html.TextBoxFor(c => c.ContactNumber)</td>
                </tr>

                <tr>
                    <td>
                        <input type="submit" value="Register" />
                    </td>
                    <td style="color:red">
                        @ViewBag.RegisterStatus
                    </td>
                </tr>
            </table>
        }
    </div>
</body>
</html>